* {
    margin: 0;
    padding: 0;
}
/* deskop */
body { 
    height: 2000px;
    display: flex;
    flex-direction: column;
}

/* page header  */
header {
    position: absolute;
    height: 600px;
    width: 100%;
    /* background-color: rgb(53, 50, 50); */
    background-image: url(https://cdn.pixabay.com/photo/2014/06/04/16/36/man-362150_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(75%);
    /* z-index: -1; */
}

/* title */
header div p, h1, h2 {
    position: relative;
    text-align: right;
    margin-right: 80px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(165, 145, 145, 0.712);
    color: white;
    /* z-index: -1; */
}

header div p {
    background-color: black;
    font-style: normal;
    font-weight: 10px;
    font-size: 100px;
    letter-spacing: 4px; 
    margin-left: 1000px;
}

header div h1 {
    color: rgb(8, 1, 1);
    font-size: 50px;
    margin-top: 150px;
}

header div h2 {
    font-size: 30px;
    font-style: oblique;
    bottom: -140px;
}

header div button {
    position: relative;
    font-family: Helvetica, sans-serif;
    margin-left: 200px;
    margin-top: 5px;
    text-transform: uppercase;
    background-color: rgba(194, 191, 191);
    border: 3px solid rgba(107, 105, 105, 0.623);
    box-shadow: 20px 20px 15px 5px black;
    filter: drop-shadow(2px 5px 2x 2px);
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 4px;
    word-spacing: 4px;
    height: 80px;
    width: 240px;
    transition: linear 0.2s;

}

button:hover {
    cursor: pointer;
    font-size: 35px;
    }



/* list - lista tego, co zawiera strona */
.list {
    position: relative;
    top: 600px;
    width: calc(100%-2px);
    height: 80px;
    background-color: rgba(31, 27, 27, 0.575);
    border: 5px solid black;
}

.list ul {
    list-style: none;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.list ul li {
    line-height: 190%;
    width: 10%;
}

.list ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

/* about - opis poszczególnych elementów z listy */
section.about {
    position: absolute;
    /* background-color: yellow;  */
    top: 690px;
    height: 1800px;
    width: 100%;
}

.information {
    display: flex;
    flex-direction: row;
    position: absolute;
    /* top: 0px; */
    height: 600px;
    width: 100%;
    background-color: rgba(31, 27, 27, 0.425);
}

.information h2 {
    margin-top: 20px;
    margin-left: 25px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    color: black;
}

.text p {
    position: absolute;
    margin-top: 50px;
    margin-right: 25px;
    margin-left: 45px;
    top: 90px;
    font-size: 20px;
    width: 55%;
    height: 100%;
    text-transform: uppercase;
    text-align: justify;
    line-height: 40px;
}

.information img {
    margin: 25px 25px 25px 25px;
    height: 500px;
    width: 500px;
}

.workofert {
    position: absolute;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEROvmFsWcwKc6Ljw3cNWgHPXsLEnEkH9YUg&usqp=CAU);
    background-repeat: no-repeat;
    background-position: 50px 300px;
    background-size: 450px;
    background-color: rgba(31, 27, 27, 0.425);
    top: 600px;
    height: 1800px;
    width: 100%;
}

.workofert h2 {
    margin-top: 20px;
    margin-left: -325px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    color: black;
}

.workofert p {
    position: absolute;
    margin-top: 50px;
    margin-right: 25px;
    margin-left: 45px;
    top: 90px;
    font-size: 20px;
    width: 80%;
    height: 100%;
    text-transform: uppercase;
    text-align: justify;
    line-height: 40px;
}

.ofertlist {
   margin-top: 12%;  
   font-size: 20px;
   text-transform: uppercase;
   text-align: justify;
   line-height: 40px; 
   margin-left: 580px;
}

.ofertlist li a {
    text-decoration: none;
    color: black;
}

.galery {
    position: absolute;
    top: 1300px;
    height: 1000px;
    width: 100%;
    /* background-color: aqua; */
}

.titleSection h2 {
    margin-top: 20px;
    margin-left: -325px;
    margin-bottom: 40px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    color: black;
}

.photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute;
}

.photo a {
    overflow: hidden;
    flex-basis: 10;
}



